* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 40%;
  overflow-x: hidden;
  font-family: "Libre Franklin", sans-serif;
}

body {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 45vw;
  align-self: center;
}

.logo-container {
  margin-bottom: 6rem;
}

.header {
  font-size: 12rem;
  color: hsl(0, 0%, 59%);
  letter-spacing: 1.5px;
  padding-bottom: 2rem;
}

.header strong {
  color: black;
}

.subheader {
  font-size: 5rem;
  padding-bottom: 10rem;
}

.subscribe-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 2rem; */
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  justify-content: space-between;
}

#email {
  border-radius: 50px;
  font-size: 5rem;
  border: 1.5px solid #d0daf3;
  padding: 4rem;
  grid-row: 1 / span 1;
  grid-column: 1 / 1;
}

#email:focus {
  outline: none;
}

::placeholder {
  color: #d0daf3;
  background-color: none;
  letter-spacing: 1px;
}

.btn {
  border-radius: 50px;
  background: rgb(79, 125, 243);
  box-shadow: 0px 10px 10px 0px rgba(79, 125, 243, 0.2);
  border: none;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  grid-row: 1 / span 1;
  grid-column: 2 / 2;
}

.btn:hover {
  background-color: hsl(223, 80%, 73%);
}

.email-error {
  color: red;
  font-size: 4rem;
  text-align: left;
  /* margin-top: 1rem; */
  margin-left: 3rem;
  grid-row: 2 / span 1;
  grid-column: 1 / 2;
}

.image {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
}

.icon {
  height: 5rem;
  width: 5rem;
  padding-right: 4rem;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border: solid 1px #d0daf3;
  align-items: center;
  border-radius: 50%;
  color: rgb(79, 125, 243);
}

.icon:hover {
  color: white;
  background-color: rgb(79, 125, 243);
}

.attribution {
  font-size: 3rem;
  color: hsl(0, 0%, 59%);
  padding-bottom: 0.5rem;
}

.attribution a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.hidden {
  opacity: 0;
}
